/** common */
.form-wrapper{padding: 10px;}
.error {font-size: 12px;}
.error::before {content: "*";}

/* login page */
.login-form {background-color: #dfdfdf;border-radius: 10px;box-shadow: 1px 1px 1px 1px darkgray;border: solid 1px darkgray;}
.v-center {height: 90vh; justify-content: center; align-content: center;}
.login-footer {font-size: 14px}
.login-footer a {color: inherit;text-decoration: none;}

/* Blog listing */
.box-shadow {box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);}
.card-img-top {width: 100%;height: 150px;display: block;}
.btn-group .btn:focus {box-shadow: none;}
.card-text {min-height: 100px !important; text-align: justify;}
.card-body {height: 225px !important;}
.content-search {box-shadow: 0px 0px 5px 5px #dfdfdf;}
.search-wrapper {padding: 15px 0;}

/* add edit form */
.form-section {margin-top: 5%;}
